body,
h1,
html {
    padding: 0;
    margin: 0
}

h1,h2,h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1,
hr {
    border: 0
}

h1,
p {
    color: #000
}

h1 {
    vertical-align: baseline;
    font-size: 5vw;
    letter-spacing: -2px;
    line-height: 130%;
    position: fixed;
    top: 34%;
    left: 10%;
    font-weight: lighter
}

h3{
    font-size: 1.5vw;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

a,
a:after,
a:visited {
    background-color: transparent;
    text-decoration: none;
    color: #000
}

.text {
    position: relative;
    display: block;
    overflow: hidden
}

.animate {
    -webkit-animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
    -moz-animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
    animation: animate 1.2s cubic-bezier(.2, .6, .2, 1);
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: translateY(100%)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

@keyframes animate {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0)
    }
}

.delay01 {
    -webkit-animation-delay: .5s;
    animation-delay: .5
}

.delay02 {
    -webkit-animation-delay: .1s;
    animation-delay: .1
}

.about {
    position: absolute;
    top: 100vh;
    left: 50%;
    right: 10%;
    padding-bottom: 34vh
}

h2 {
    font-size: 32px;
    font-size: 2.2vw;
    line-height: 140%;
    margin-bottom: 10%
}

p {
    font-size: 18px;
    font-size: 1.25vw;
    line-height: 180%;
    font-family: Regular;
    margin-bottom: 6%
}

b {
    font-family: Medium
}

#footer {
    text-align: center
}

hr {
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

#heroFigure{
    margin: 0 auto;
    text-align: center;
}

#heroAvatar{
    width: 50%;
}

#mode {
    visibility: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -125px;
    background: #fff !important;
    color: #333!important;
    text-align: center;
    border-radius: 40px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top:30px;
    left: 50%;
    font-size: 17px;
}

#mode.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@media screen and (max-width:667px) {
    h1 {
        font-size: 68px;
        font-size: 12vw
    }
    h2 {
        font-size: 24px;
        font-size: 6.4vw
    }
    h3{
        font-size: 18px;
        font-size: 5.5vw;
    }    
    p {
        font-size: 18px;
        font-size: 4.8vw
    }
    .about {
        left: 0;
        right: 0;
        background: #fff;
        padding: 10%
    }
    #mode{
        margin-left: -15% !important;
    }
}